.block1 {
    position: relative;
    width: 100px;
    height: 100px;
    animation:  box 3s ease-in-out infinite;
}
@keyframes box {
    0%{
        left: 0;
        top: 0;
        background: blue;
    }
    25%{
        top: 0;
        left: 250px;
        background: red;
    }
    50%{
        top: 250px;
        left: 250px;
        background: green;
    }
    75%{
        left: 0;
        top: 250px;
        background: yellow;
    }
    100%{
        left: 0;
        top: 0;
        background: purple;
    }
    
   }
.img1, .img2{
    margin-left: 500px;
    margin-bottom: 20px;
}
.img1{
    filter: brightness(50%) grayscale(0%);
    transition: 0.8s;
}
.img1:hover{
    filter: brightness(100%) grayscale(100%);
}
.img2 img{
    width: 400px;
    height: 700px;
    object-fit: cover;
    object-position: center;
}
a{
    text-decoration: none;
}
.btn{
    margin: 50%;
    background: yellow;
    padding: 25px 40px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: 0.7s;
}
.btn:hover{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    background: black;
}